h1 {
    text-align: center;
}

body {
    background-color: gray;
}

.middle {
    display: flex;
    justify-content: center;
}

.include {
    width: 450px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whitebackground {
    background-color: white;
    width: 180px;
    height: 300px;
    padding: 20px;
}

.inner {
    width: 180px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tomato {
    background-color: tomato;
    width: 180px;
    height: 300px;
    position: relative;
}

.teal {
    background-color: teal;
    width: 180px;
    height: 300px;
    position: relative;
}

.burlywood {
    background-color: burlywood;
    width: 180px;
    height: 300px;
    position: relative;
}

.thistle {
    background-color: thistle;
    width: 180px;
    height: 300px;
    position: relative;
}

  